
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="/static/home/src/output.css">
    <link rel="stylesheet" href="/static/home/srchomepage.css">

    <head>
        <!-- Other meta tags, links, and scripts -->
    </head>

</head>

<body>
    <header
        class="fixed top-0 left-0 right-0  z-50 text-gray-400 bg-gray-950 body-font transition-all duration-500 ease-in-out">
        <div id="navContainer" class="container  flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
            <a href="#" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg> -->
                <span class="ml-3 text-xl">ECORIDE</span>
            </a>
            <div id="navLinks"
                class=" decoration-2 text-white hidden md:flex flex-wrap items-center text-base justify-center md:justify-end space-x-4">
                <a href="/vehicle/" class="nav-link ">VEHICLES</a>
                <a href="/accessories/" class="nav-link">ACCESSORIES</a>
                <a href="#about" class="nav-link">ABOUT US</a>
                <a href="/contact/" class="nav-link">CONTACT US</a>
                <a href="/auth/signin" class="nav-link">LOGIN</a>
            </div>
            <button id="toggleNav"
                class="md:hidden inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-red-600 hover:text-black rounded text-base mt-4 md:mt-0">Menu
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <div id="sidebar"
            class="md:hidden fixed inset-0 bg-stone-800 bg-opacity-50 z-40 w-0 h-full overflow-hidden transition-all duration-500 ease-in-out">
            <div class="flex justify-end p-4">
                <button id="closeNav" class="text-white focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                        <path d="M18 6L6 18M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div class=" decoration-2 text-white flex flex-col items-center justify-center h-full">
                <a href="/vehicle/" class="sidebar-link my-4">VEHICLE</a>
                <a href="/accessories/" class="sidebar-link my-4">ACCESSORIES</a>
                <a href="#about" class="sidebar-link my-4">ABOUT US</a>
                <a href="/contact/" class="sidebar-link my-4">CONTACT US</a>
                <a href="/auth/signin/" class="sidebar-link my-4">LOGIN</a>
            </div>
        </div>
    </header>
    <hr>
    <section class=" mt-16 min-h-screen flex items-center justify-center bg-stone-800">
        <div class="w-full max-w-screen-xl ">
            <img id="dynamicImage" alt="content" class="object-cover object-center w-full h-auto"
                src="/static/home/pics/WhatsApp Image 2024-03-20 at 11.56.24_07831c88.jpg">
        </div>
    </section>
    <hr>
    <section class="text-gray-400 bg-stone-800 body-font ">
        <h1 class="text-2xl font-medium title-font ml-auto mr-auto  text-white tracking-widest">
            <div class="container px-5 py-24 mx-auto flex flex-wrap ">
                <h1 class="text-2xl font-medium title-font ml-auto mr-auto mt-4 text-white tracking-widest">
                    EXPLORE OUR MOST POPULAR PRODUCTS</h1>
                <div class="flex w-full mb-20 flex-wrap">
                </div>
                <div class="flex flex-wrap md:-m-2 -m-1 ">
                    <div class="flex flex-wrap w-1/2 bg-[url('pics\bg-img.avif')]">
                        <div class="md:p-2 p-1 w-1/2 relative">
                            <div class="relative w-full h-full overflow-hidden group">
                                <a href="page1.html" class="block w-full h-full relative overflow-hidden group">
                                    <img alt="gallery"
                                        class="w-full h-full object-cover object-center block transition-all duration-1000 transform group-hover:translate-x-full"
                                        src="/static/home/pics\product-jpeg.jpg">
                                    <img alt="hovered-image" src="/static/home/pics\lithino-li-261727dd055fd0.webp"
                                        class="absolute top-0 left-0 w-full h-full object-cover object-center opacity-0 transition-opacity duration-1000 group-hover:opacity-100">
                                </a>
                            </div>
                        </div>
                        <div class="md:p-2 p-1 w-1/2 relative">
                            <div class="relative w-full h-full overflow-hidden group">
                                <a href="page2.html" class="block w-full h-full relative overflow-hidden group">
                                    <img alt="gallery"
                                        class="w-full h-full object-cover object-center block transition-all duration-1000 transform group-hover:translate-x-full"
                                        src="/static/home/pics\Screenshot 2024-03-27 144545.png">
                                    <img alt="hovered-image" src="/static/home/pics\100440110.webp"
                                        class="absolute top-0 left-0 w-full h-full object-cover object-center opacity-0 transition-opacity duration-1000 group-hover:opacity-100">
                                </a>
                            </div>
                        </div>
                        <div class="md:p-2 p-1 w-full">
                            <div class="relative w-full h-full">
                                <a href="page3.html" class="block w-full h-full relative overflow-hidden group">
                                    <img alt="gallery"
                                        class="w-full h-full object-cover object-center block transition-transform duration-1000 transform group-hover:translate-x-full"
                                        src="/static/home/pics\Screenshot 2024-03-27 145039-abc.png">
                                    <img alt="hovered-image" src="/static/home/pics\battre-one-600x600-4-min-scaled.jpg"
                                        class="absolute top-0 left-0 w-full h-full object-cover object-center opacity-0 transition-opacity duration-1000 group-hover:opacity-100">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap w-1/2">
                        <div class="md:p-2 p-1 w-full">
                            <div class="relative w-full h-full">
                                <a href="page4.html" class="block w-full h-full relative overflow-hidden group">
                                    <img alt="gallery"
                                        class="w-full h-full object-cover object-center block transition-transform duration-1000 transform group-hover:translate-x-full"
                                        src="/static/home/pics\storie Image 2024-04-07 at 10.26.32_cafe81b9.jpg">
                                    <img alt="hovered-image" src="/static/home/pics\storie-gallery-5-2.png"
                                        class="absolute top-0 left-0 w-full h-full object-cover object-center opacity-0 transition-opacity duration-1000 group-hover:opacity-100">
                                </a>
                            </div>
                        </div>
                        <div class="md:p-2 p-1 w-1/2">
                            <div class="relative w-full h-full">
                                <a href="page5.html" class="block w-full h-full relative overflow-hidden group">
                                    <img alt="gallery"
                                        class="w-full h-full object-cover object-center block transition-transform duration-1000 transform group-hover:translate-x-full"
                                        src="/static/home/pics\Screenshot 2024-03-27 142511.png">
                                    <img alt="hovered-image" src="/static/home/pics\falcon63c4e81ab877d.webp"
                                        class="absolute top-0 left-0 w-full h-full object-cover object-center opacity-0 transition-opacity duration-1000 group-hover:opacity-100">
                                </a>
                            </div>
                        </div>
                        <div class="md:p-2 p-1 w-1/2">
                            <div class="relative w-full h-full">
                                <a href="page6.html" class="block w-full h-full relative overflow-hidden group">
                                    <img alt="gallery"
                                        class="w-full h-full object-cover object-center block transition-transform duration-1000 transform group-hover:translate-x-full"
                                        src="/static/home/pics\EZGO Image 2024-04-07 at 10.39.43_9f6c1454.jpg">
                                    <img alt="hovered-image" src="/static/home/pics\scooter_slide5.png"
                                        class="absolute top-0 left-0 w-full h-full object-cover object-center opacity-0 transition-opacity duration-1000 group-hover:opacity-100">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <hr>
    <section class="text-gray-400 bg-black body-font">
        <div class="container mx-auto px-5 py-24">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-2xl font-medium title-font mb-4 text-white tracking-widest">HOW CAN WE HELP YOU</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <a href="/contact/"
                    class="p-4 bg-gray-800 rounded-lg flex flex-col items-center justify-center hover:bg-gray-700">
                    <img alt="team" class="w-48 h-48 object-cover object-center mb-4"
                        src="/static/home/pics\360_F_162708208_zAlCalbrT9Q1Bbv2tBzM1krl4X6fsVGh.jpg">
                    <h2 class="font-medium text-lg text-white">REQUEST A CALLBACK</h2>
                </a>
                <a href="page2.html"
                    class="p-4 bg-gray-800 rounded-lg flex flex-col items-center justify-center hover:bg-gray-700">
                    <img alt="team" class="w-48 h-48 object-cover object-center mb-4" src="/static/home/pics\images.jpeg">
                    <h2 class="font-medium text-lg text-white">LATEST ARRIVALS</h2>
                </a>

                <a href="feedback.html"
                    class="p-4 bg-gray-800 rounded-lg flex flex-col items-center justify-center hover:bg-gray-700">
                    <img alt="team" class="w-48 h-48 object-cover object-center mb-4"
                        src="/static/home/pics\positive-feedback-icon-suitable-for-a-wide-range-of-digital-creative-projects-free-vector.jpg">
                    <h2 class="font-medium text-lg text-white">FEEDBACK</h2>
                </a>
            </div>
        </div>
    </section>
    <hr>
    <section class="text-gray-400 bg-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">BOOK A TEST RIDE NOW!</h1>
            </div>
            <div class="max-w-3xl mx-auto">
                <form id="myForm" action="your-server-url" method="POST" class="flex flex-col">
                    <div class="relative flex-grow mb-4">
                        <label for="full-name" class="leading-7 text-sm text-gray-400">Full Name</label>
                        <input type="text" id="full-name" name="full-name" placeholder="Name" autocomplete="off"
                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative flex-grow mb-4">
                        <label for="email" class="leading-7 text-sm text-gray-400">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email" autocomplete="off"
                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <!-- Hidden items -->
                    <div id="hidden-items" class="hidden transition-height">
                        <div class="flex flex-col">
                            <div class="relative mb-4">
                                <label for="contact" class="leading-7 text-sm text-gray-400">Contact</label>
                                <input type="number" id="contact" name="contact" placeholder="Contact"
                                    autocomplete="off"
                                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-4">
                                <label for="details" class="leading-7 text-sm text-gray-400">Other Details</label>
                                <input type="text" id="details" name="details" placeholder="Any other details"
                                    autocomplete="off"
                                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-4">
                                <label for="type" class="leading-7 text-sm text-gray-400">Bike Type</label>
                                <select id="animals"
                                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-400  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    name="animals">
                                    <option class="bg-black" value="">
                                        Select an option
                                    </option>
                                    <option class="bg-black" value="">
                                        a
                                    </option>
                                    <option class="bg-black" value="">
                                        b
                                    </option>
                                    <option class="bg-black" value="">
                                        c
                                    </option>
                                    <option class="bg-black" value="">
                                        d
                                    </option>
                                    <option class="bg-black" value="">
                                        e
                                    </option>
                                    <option class="bg-black" value="">
                                        f
                                    </option>
                                </select>
                                </label>
                            </div>
                            <div class="relative mb-4">
                                <label for="datetime" class="leading-7 text-sm text-gray-400">Date and Time</label>
                                <input type="datetime-local" id="datetime" name="datetime" placeholder="Date-Time"
                                    autocomplete="off"
                                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-400 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <button type="submit" id="relative"
                                class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-800 hover:text-black rounded text-lg">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Button to show/hide hidden items -->
                <div class="flex justify-center">
                    <button id="toggle-btn"
                        class="text-white bg-indigo-500 border-0 py-2 px-8 mt-4 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                        SHOW MORE
                    </button>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="text-gray-400 bg-stone-800 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="lg:w-2/3 mx-auto">
                <div class="flex flex-wrap w-full bg-gray-800 py-32 px-10 relative mb-4">
                    <img alt="gallery"
                        class="w-full object-cover h-full object-center block opacity-65 absolute inset-0"
                        src="/static/home/pics\own-your-storie-1.png">
                </div>
                <div class="flex flex-wrap -mx-2">
                    <div class="px-2 w-1/2">
                        <div class="flex flex-wrap w-full bg-gray-800 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery"
                                class="w-full object-cover h-full object-center block opacity-65 absolute inset-0"
                                src="/static/home/pics\Untitled-design-2020-01-29T150530.589.jpg">
                        </div>
                    </div>
                    <div class="px-2 w-1/2">
                        <div class="flex flex-wrap w-full bg-gray-800 sm:py-24 py-16 sm:px-10 px-6 relative">
                            <img alt="gallery"
                                class="w-full object-cover h-full object-center block opacity-65 absolute inset-0"
                                src="/static/home/pics\images (1).jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <footer class="text-gray-400 bg-gray-900 body-font">
        <div
            class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">

                    <span class="ml-3 text-xl">ECORIDE</span>
                </a>
            </div>
            <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Products</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">About-us</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Contacts</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>

            </div>
        </div>
        <div class="bg-gray-800 bg-opacity-75">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-400 text-sm text-center sm:text-left">© 2024 ECORIDE
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-400">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </footer>
    <script src="/static/home//static/home/srchomepage.js"></script>
</body>

</html>